.invoice-box {
    width: 100%;
    padding: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: inherit;
    background-color: white;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tbody tr:nth-child(odd){
    background-color: white;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
    padding: 1.5rem 0;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
}

.dashboard_link{
    display: inline-block;
    padding: 10px 20px;
    background: transparent !important;
    color: #007bff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: unset;
}

.dashboard_link:focus, .dashboard_link:hover{
    box-shadow: unset;
    color: #007bff;
}

.dashboard_arrow{
    transform: rotate(180deg);
    display: inline-block;
    font-size: 15px;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/
.invoice-box.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.invoice-box.rtl table {
    text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
    text-align: left;
}

/*Custom CSS for main dashboard table*/
.dashboard-table tr[data-href]{
    cursor: pointer;
}

/*Custom CSS for invoice template */
@media screen and (min-width: 980px){
    .invoice-box{
        margin-left: 2rem !important;
    }
}