<!-- App Main Dashboard Starts Here-->
<%- include('partials/app-header') %>

<!-- Tabs-->
<section>
    <div class="columns has-sections">
        <ul class="tabs">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Incomplete</a></li>
            <li><a href="#">Complete</a></li>
        </ul>
    </div>
</section>

<!--Table of Draft Orders-->
<%- include('partials/draft-order-table')  %>

<!-- App Main Dashboard Ends Here-->
