<!-- App Main Dashboard Starts Here-->
<section class = "full-width">
    <header>
        <h1> Invoice Printer </h1>
        <h2>Inspired by Shopify's <a href = "https://help.shopify.com/en/manual/orders/printing-orders/order-printer">Order Printer</a></h2>
    </header>
</section>

<!-- Tabs-->
<section>
    <div class="columns has-sections">
        <ul class="tabs">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Unfulfilled</a></li>
            <li><a href="#">Fulfilled</a></li>
        </ul>
    </div>
</section>

<!--Table of Draft Orders-->
<section>
    <table>
        <thead>
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Payment Status</th>
                <th>Fulfillment Status</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>#1011</b></td>
                <td>May 25th at 1:24 am</td>
                <td>Patrick Pierre</td>
                <td>Refunded</td>
                <td>Unfulfilled</td>
                <td>$376.16</td>
            </tr>
            <tr>
                <td><b>#1012</b></td>
                <td>May 25th at 1:24 am</td>
                <td>Patrick Pierre</td>
                <td>Paid</td>
                <td>Unfulfilled</td>
                <td>$276.24</td>
            </tr>
            <tr>
                <td><b>#1013</b></td>
                <td>May 25th at 1:24 am</td>
                <td>Patrick Pierre</td>
                <td>Refunded</td>
                <td>Unfulfilled</td>
                <td>$300.74</td>
            </tr>
        </tbody>
    </table>
</section>

<!-- App Main Dashboard Ends Here-->


<!--Invoice Template-->
<section>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                INVOICE
                            </td>
    
                            <td>
                                Invoice #: 123<br />
                                Created: January 1, 2023<br />
                                Due: February 1, 2023
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Sparksuite, Inc.<br />
                                12345 Sunny Road<br />
                                Sunnyville, CA 12345
                            </td>
    
                            <td>
                                Acme Corp.<br />
                                John Doe<br />
                                john@example.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    
            <tr class="heading">
                <td>Order Summary</td>
    
                <td>Price</td>
            </tr>
    
            <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Adele Chain Bracelet 
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$300.00</td>
            </tr>
    
            <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Anushka Sharma Silver Heartlock Bracelet
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$69.00</td>
            </tr>

            <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Rose Gold Zircon Radiant Mangalsutra Bracelet
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$71.00</td>
            </tr>

            <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Rose Gold Dual Heart Bracelet 
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$67.00</td>
            </tr>
    
            <tr class="item last">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Rose Gold Bubble Bracelet 
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$117.00</td>
            </tr>
    
            <tr class="total">
                <td></td>
    
                <td>Total: $424.00</td>
            </tr>
        </table>
    </div>
</section>