<!-- App Main Dashboard Starts Here-->
<%- include('partials/app-header') %>


<!--Invoice Template-->
<section>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                INVOICE
                            </td>
    
                            <td>
                                Invoice <%= draftOrder.order_name %><br />
                                Created: <%= draftOrder.createdAt %><br />
                                <!-- Due: February 1, 2023 -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Sparksuite, Inc.<br />
                                12345 Sunny Road<br />
                                Sunnyville, CA 12345
                            </td>
    
                            <td>
                                Acme Corp.<br />
                                John Doe<br />
                                john@example.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    
            <tr class="heading">
                <td>Order Summary</td>
    
                <td>Price</td>
            </tr>
    
            <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Adele Chain Bracelet 
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$300.00</td>
            </tr>
    
            <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Anushka Sharma Silver Heartlock Bracelet
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$69.00</td>
            </tr>

            <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Rose Gold Zircon Radiant Mangalsutra Bracelet
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$71.00</td>
            </tr>

            <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Rose Gold Dual Heart Bracelet 
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$67.00</td>
            </tr>
    
            <tr class="item last">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Rose Gold Bubble Bracelet 
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$117.00</td>
            </tr>
    
            <tr class="total">
                <td></td>
    
                <td>Total: $424.00</td>
            </tr>
        </table>
    </div>
</section>