<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Printer App</title>
    <link rel="stylesheet" href="/assets/uptown.css">
    <link rel="stylesheet" href="/assets/invoice.css">
    <link rel="stylesheet" href="/assets/dashboard.css">
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!--Shopify App Bridge meta and script-->
    <meta name="shopify-api-key" content="%SHOPIFY_API_KEY%" />
    <script src="https://cdn.shopify.com/shopifycloud/app-bridge.js"></script>
</head>
<body>
    <main>
        <%- body %>
    </main>

    <script src="/views/components/tabs.js" type="text/babel"></script>
</body>
</html>
