 <!--Put this inside of a Partial-->
 <section class = "full-width">
    <header>
        <h1> Invoice Printer </h1>
        <h2>Inspired by Shopify's <a href = "https://help.shopify.com/en/manual/orders/printing-orders/order-printer">Order Printer</a></h2>
    </header>
</section>