<section id = "checkouts-content" class = "tab-content">
    <table class = "dashboard-table">
        <thead>
            <tr>
                <th>Checkout</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Currency</th>
                <th>Reminders</th>
            </tr>
        </thead>
        
        <tbody>
            <% for (let checkout of checkouts) { %>
                <tr data-href="#" onclick = "openInvoiceTemplate(`<%= checkout.id %>`)">
                    <td><%= checkout.checkout_name %></td>
                    <td>DATE...</td>
                    <td><%= checkout.customer.first_name %></td>
                    <td>$<%= checkout.total_price %></td>
                    <td>PENDING</td>
                    <td>USD</td> <!--Change this later-->
                    <td>One</td>
                    
                </tr>
            <% } %>
        </tbody>
    </table>
</section>

<script>
    const openInvoiceTemplate = function(draftOrderId){
        window.location.href = `/invoice/${draftOrderId}`
    }
</script>