<section id = "checkouts-content" class = "tab-content">
    <table class = "dashboard-table">
        <thead>
            <% if (checkouts.length > 1) { %>
            <tr>
                <th>Checkout</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Currency</th>
                <th>Reminders</th>
            </tr>
            <% } %>
        </thead>
        
        <tbody>
            <% if (checkouts.length < 1) { %>
                <div class="columns" style = "margin-bottom: 2rem;">
                    <p class = "column twelve">No Checkouts Found</p>
                    <p class = "column twelve">We haven't found any unpaid Draft Orders but in the meantime you can set up your reminders</p>
                </div>
            <% } else { %>
                <% for (let checkout of checkouts) { %>
                    <tr data-href="#" onclick = "openInvoiceTemplate(`<%= checkout.id %>`)">
                        <td><%= checkout.checkout_name %></td>
                        <td>DATE...</td>
                        <td><%= checkout.customer.first_name %></td>
                        <td>$<%= checkout.total_price %></td>
                        <td>PENDING</td>
                        <td>USD</td> <!--Change this later-->
                        <td>One</td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</section>
