<div class="row" style="height:800px">
    <div class="col-md-12">
        <div class="col-md-6">
            <% if(images.hasOwnProperty(chosenVariant.image_id) && images[chosenVariant.image_id]['src'] != null) { %>
                <img src="<%= images[chosenVariant.image_id]['src'] %>" class="img img-responsive" alt="">
            <% } else { %>

            <% } %>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>